{
  "presets": [
    "@babel/react",
    "@babel/typescript",
    [
      "@babel/env",
      {
        "modules": false
      }
    ],
    "es2015",
    "stage-0"
  ],
  "plugins": [],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}